{% extends "layout.html" %}
{% block body %}
  <h2>'{{ room.name }}' Significant phrases</h2>
  <div class="significant-phrases">
      <table>
          <thead>
              <tr>
                  <th>phrase</th>
                  <th>uses</th>
              </tr>
          </thead>
          {% for phrase,count in phrases %}
            <tr><td><a href="/room/{{room.id}}/messages?q={{' '.join(phrase)}}">{{' '.join(phrase)}}</a></td><td>{{count}}</td></tr>
          {% endfor %}
      </table>
  </div>
{% endblock %}