{% extends "layout.html" %}
{% block body %}
  <h2>Significant phrases in room '{{ room.name }}'</h2>
  <div class="significant-phrases">
      <table>
          <thead>
              <tr>
                  <th>phrase</th>
                  <th>uses</th>
              </tr>
          </thead>
          {% for phrase in phrases %}
            <tr><td><a href="/room/{{room.id}}/messages?q={{phrase.phrase}}">{{phrase.phrase}}</a></td><td>{{phrase.count}}</td></tr>
          {% endfor %}
      </table>
  </div>
{% endblock %}